*{
  margin: 0;
  padding: 0;
  
}

body{
  font-family: Arial, Helvetica,sans-serif;
 color: #6633cc;
    background-image: url("Marshmello.jpg");
    background-color: #cccccc;
  padding:0;
  margin: 0;

}
a{
  color:#6633cc
}
a:hover{
  color: gold;
  text-decoration: none;
}

/*Navigation stlyes  */
nav{
  /* background-color: grey; */
}
nav ul{
  list-style: none;
  padding: 0;
}
nav li{
  /* border: 1px solid red; */
  display:inline;

}
nav a{
  /* display: inline-block; */
  padding: 20px;
}
nav a:hover{
display: inline-block;
background-color: white;

}
